@font-face {
       font-family: 'TaiwanKai';
       src: url('../fonts/taiwan-kai.ttf') format('truetype');
   }
    
    body {
    
    font-family: 'TaigiIansui', sans-serif;
    
    }

.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #333;
}

.active {
    display: block;
}
